body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont,
    'Fira Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 90%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-text-header);
}

:root {
  --color-white: #ffffff;
  --color-primary: #e26d5c;
  --color-dark: #1c3041;
  --color-dark-hover: #315472;
  --color-secondary: #05b2dc;
  --color-tertiary: #c9cba3;
  --color-text: #464646;
  --color-text-header: #636363;
  --color-text-light: #ffffff;
  --color-text-light-hover: #d9d9d9;
  --color-text-medium: #d9d9d9;
  --color-text-medium-hover: #fff;
  --color-light: #f1f5f9;
  --color-grey: #ccc;
}
