.SignIn {
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SignInLogo {
  max-width: 400px;
  margin-bottom: -80px;
  z-index: -1;
}

.SignInForm {
  max-width: 400px;
  margin: 20px;
}
